/*==========================================
FONT
==========================================*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Playfair+Display:wght@400;700&display=swap');
/*==========================================
VARIABLES
==========================================*/
:root {
    --clr-accent-200: rgb(226, 129, 11);
    --clr-accent-300: rgb(239, 24, 24);
    --clr-accent-600: rgb(35, 116, 228);
    --clr-accent-700: rgb(59, 57, 92);
    --clr-accent-900: rgb(3, 22, 48);
    --clr-neutral-100: rgb(255, 255, 255);
    --clr-neutral-400: rgb(148, 148, 148);
    --clr-neutral-900: rgb(0, 0, 0);

    --ff-primary: "Montserrat", "Helvetica Neue";
    --ff-accent: "Playfair Display", Helvetica;
    --ff-offset: "Bad Script", cursive;

    --font-xl: clamp(3rem, 8vw + 1rem, 5rem);
    --font-900: clamp(2rem, 5vw + 1rem, 2.3rem);
    --font-800: clamp(1.5rem, 3.5vw + 1rem, 2rem);
    --font-700: clamp(1.2rem, 1.05vw + 1rem, 2.3rem);
    --font-600: clamp(1rem, 5vw, 1.2rem);
    --font-400: clamp(.85rem, 2.5vw, 1rem);
    --font-300: clamp(.75rem, 2vw, .85rem);

    --lh-400: clamp(1.3rem, 1.8vw + 1rem, 2rem);
    --lh-300: clamp(1.1rem, 2.3vw, 1.5rem)
}
/*
============================================
RESET
============================================
*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: var(--ff-primary);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*==============================
CUSTOM and UTILITY STYLES
==============================*/
*,
*::after,
*::before {
    box-sizing: border-box;
}
.container {
    width: min(90vw, 1200px);
    margin: 0 auto;
    display: grid;
}
.container--header {
    align-items: center;
    grid-template-areas: 
        "intro"
        "img";
}
.container--main {
    place-items: center;
    grid-template-areas: 
        "about"
        "quote"
        "timeline";
}
.container--footer {
    place-items: center;
    padding-top: 3rem;
    margin-inline: auto;
}
.intro { 
    grid-area: intro;
    padding: 2rem 4rem;
    text-align: center;
}
.legendImg {
    grid-area: img;
    height: max-content;
    width: 100%;
}
.about { 
    grid-area: about;
    margin-right: .5rem;
    padding: 1.5rem;
}
blockquote { 
    grid-area: quote;
    padding-block: 1rem 2rem;
    width: 80%;
    text-align: justify;
}
.timeline {
    grid-area: timeline;
    color: var(--clr-accent-900);
    position: relative;
    margin-block: 2rem 0;
    margin-right: .7rem;
    padding: .5rem;
}
h1,
h2 {
    font-family: var(--ff-accent);
}
h1 {
    font-size: var(--font-xl);
    line-height: var(--lh-400);
}
h2 {
    font-size: var(--font-700);
}
h3 {
    font-size: var(--font-600);
}
p {
    text-align: justify;
}
strong {
    font-weight: 400;
}
small {
    font-size: .8rem;
    font-weight: 400;
    font-family: var(--ff-primary);
}
a {
    color: var(--clr-neutral-900);
    text-decoration: none;
}
/*===========
BANNER
===========*/
header, 
footer {
    background-color: #000;
    font: 300 .85rem/1.2rem var(--ff-primary);
    color: var(--clr-neutral-100);
    border-bottom: none;
    width: 101%;
    max-width: 101%;
    overflow-x: clip;
}
.intro h1 {
    color: var(--clr-accent-200);
    text-transform: uppercase;
}
.intro span {
    color: var(--clr-accent-700);
    padding-left: .5rem;
}
.intro h3 {
    color: var(--clr-neutral-100);
    text-transform: capitalize;
    padding-top: clamp(1.5rem, 2.5vh, 2rem);
    font-family: var(--ff-offset);
    opacity: .7;
}
.underline {
    height: .1rem;
    width: 2rem;
    margin: .5rem auto;
    background-color: rgb(221, 165, 24);
}
.date {
    font-family: var(--ff-primary);
    color: var(--clr-neutral-100);
    text-align: center;
    opacity: .4;
    margin-bottom: .5rem;
}
.bannerImg {
    width: 100%;
    height: 400px;
    object-fit: contain;
    opacity: .9;
}
/*======================
MAIN
======================*/
.about h2 {
    font-size: var(--font-700);
    letter-spacing: 1.5px;
    font-family: var(--ff-accent);
    text-transform: capitalize;
    font-weight: 700;
    padding-block: 1.5rem;
}
.about p {
    font-size: var(--font-400);
    line-height: var(--lh-300);
    margin-bottom: .8rem;
}
.quote {
    padding-bottom: 1rem;
    color: var(--clr-accent-300);
}
a:hover {
    color: var(--clr-accent-300);
}
.quote i {
    font-size: var(--font-600);
    padding-right: .3rem;
}
.quote p {
    display: inline;
    font-size: var(--font-300);
    padding-right: .3rem;
}
/* TIMELINE */
.timeline h2 {
    text-align: center;
    font-size: var(--font-900);
    text-transform: capitalize;
    color: var(--clr-neutral-900);
    padding-bottom: 3rem;
}
.timeline::before {
    position: absolute;
    content: "";
    height: calc(100% - 6.5rem);
    width: .25rem;
    top: 3.5rem;
    left: 1.903rem;
    background-color: var(--clr-accent-900);
    z-index: -1;
}
.headline {
    font-size: var(--font-600);
    font-weight: 700;
    padding-inline: 1rem;
    padding-bottom: min(1.1rem, 2vh);
}
.info {
    font-size: var(--font-400);
    line-height: var(--lh-300);
    padding-inline: 1.5rem;
    padding-block-end: min(2rem, 5vh);
}
/*=========================
FOOTER
=========================*/
.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.socials i {
    color: var(--clr-neutral-100);
    font-size: var(--font-800);
}
.links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 2rem 1rem;
}
.links a {
    color: var(--clr-neutral-400);
    text-transform: capitalize;
    font-size: var(--font-300);
}
.footersmall {
    color: var(--clr-neutral-400);
    margin-bottom: .5rem;
    font-size: min(.8rem, 3vw);
}
.mandm {
    color: var(--clr-accent-600);
}
/*==========================
MEDIA QUERIES
==========================*/
@media all and (min-width: 540px) {
    .container--header {
        grid-template-columns: 1fr 1fr;
        justify-content: start;
        width: 100%;
        grid-template-areas:
            "intro img";
    }
    .legendImg {
        padding-top: 1rem;
    }
    .bannerImg {
        height: 350px;
    }
    .links {
        gap: 2rem;
    }
    .links a {
        font-size: var(--font-400);
    }
}
@media all and (min-width: 710px) {
    .container--main {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        width: 100%;
        grid-template-areas: 
            "timeline about"
            "timeline quote";
    }
    .timeline {
        height: 770px;
        width: 100%;
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        overflow: hidden;
        margin-block: .5rem 3rem;
        margin-inline: 1rem 0;
    }
    .hide-scroll {
        position: absolute;
        height: 770px;
        width: 100%;
        overflow-y: scroll;
        right: -18px;
    }
    .timeline::before {
        height: 100%;
        left: calc(1.403rem + 18px);
    }
    .fa-ul {
        position: absolute;
        top: 6rem;
    }
    .fixed {
        position: fixed;
        background-color: var(--clr-neutral-100);
        top: 0;
        left: 0;
        padding-block: 2rem 1rem;
        width: 100%;
        z-index: 10;
    }
    .fixed h2 {
        padding-bottom: 0;
    }
    .about,
    blockquote {
        margin-right: 18px;
        padding-inline: .3rem;
        align-self: start;
    }
}
@media all and (min-width: 920px) {
    .container--main {
        grid-template-columns: 2.3fr 3fr 1.7fr;
        grid-template-areas: 
            "timeline about quote";
    }
    .timeline,
    .hide-scroll {
        height: min(455px, 55vw);
    }
    .fixed {
        padding-block: 2rem 1rem;
    }
    .about {
        margin-right: 0;
    }
    blockquote {
        align-self: end;
        margin-bottom: 3rem;
    }
}
@media all and (min-width: 1200px) {
    .timeline,
    .hide-scroll {
        height: min(405px, 55vw);
    }
    blockquote {
        margin-bottom: 5rem;
    }
}